<body ng-app>
    <div class="row justify-content-center align-items-center">
        <div class="btn btn-group-lg">
            <button class="btn btn-primary p-5 m-3" style="width: 320px;">Carga de Datos</button>
            <button class="btn btn-primary p-5 m-3" style="width: 320px;">Informe de Stock</button>
            <button class="btn btn-primary p-5 m-3" style="width: 320px;">Informe de Ventas</button>
            <button class="btn btn-primary p-5 m-3" style="width: 320px;">Compras</button>
        </div>
    </div>
</body>
